.body{
    background-color: lightcoral
}
.button{
    margin: 300px;
    padding: 40px 70px;
border-radius: 50px;
border: solid   green;
background-color: blue;
color:white;
transition: all 2s;

}
button:hover{
    color:yellow;
    background-color: red;
    transform: scale(2);
    cursor: grab;
    
}
